/* styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Agrega estilos personalizados aquí */

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #e2e8f0;
}

/* Estilo de encabezado de la tabla */
.table th {
  background-color: #edf2f7;
  font-weight: 600;
}

/* Estilo de fila de la tabla */
.table tr:hover {
  background-color: #f7fafc;
}

/* Estilo de celda de la tabla */
.table td {
  background-color: #ffffff;
}

/* Estilos para los bordes redondeados de las celdas */
.table td:first-child,
.table th:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.table td:last-child,
.table th:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


/* toggle */
input:checked + .slider:before {
  transform: translateX(42px);
}


