<div class='profile-container'>
  <h1>Settings</h1>
  <div class='profile-info'>
    <button><a href='/realTimeProducts/addProduct'>Add Product</a></button>
    <button><a href='/realTimeProducts/'>Delete Product</a></button>
    <button>Update Product</button>
    <button><a href='/api/users/deleteUser'>Delete User</a></button>
    <button><a href='/api/users/editUser'>Edit User</a></button>
    <button><a href='/api/users/uploads'>Upload Files</a></button>
  </div>
  <div class='buttons'>
    <button><a href='/api/users/profile/'>Back</a></button>
    <button><a href='/api/users/logout/'>Logout</a></button>
  </div>
</div>