<div class='profile-container'>
  <h1>Delete User</h1>
  <form id='upload-form' class="userDelete">
    <input id="email" type='text' name='email' placeholder='Email' />
    <button type='submit'>Delete</button>
  </form>
  <div class='buttons'>
    <button><a href='/api/users/profile/'>Back</a></button>
    <button><a href='/api/users/logout/'>Logout</a></button>
  </div>
</div>