<div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>{{code}}</h1>
          <h2>{{error}}</h2>
        </div>
        <a href='/api/products'>Home Page</a>
      </div>
    </div>