<div class='bodyForm'>
  <a href='/api/products' class='floating-button'>Home</a>
  {{#if message}}
    <div class='alert alert-success'>{{message}}</div>
  {{/if}}
  <form class='form' action='/api/users/login' method='POST'>
    <h1>LOGIN</h1>
    <input type='text' name='email' placeholder='Email' />
    <input type='text' name='password' placeholder='Password' />
    <a id="forgot" href='/recover'>Forgot your Password</a>
    <button type='submit'>Login!</button>
    <span class='info'>You don't have an account?
      <a href='/api/users/register' type='submit'>Register Now!!</a>
    </span>
    <span class='info git'>
      <a href='/api/users/github'>Login with GitHub</a>
    </span>
  </form>
</div>