<div class='profile-container'>
  <h1>Upload Files</h1>
  <form id='upload-form' enctype='multipart/form-data'>
    <select id='image-type' name='imageType'>
      <option value='profile'>profile picture</option>
      <option value='product'>product image</option>
      <option value='DNI'>DNI</option>
      <option value='accountStatus'>Account Status</option>
      <option value='proofAddress'>Proof Address</option>
    </select>
    <input type='file' id='file-input' name='file' accept='image/*' />
    <button type='submit'>Add</button>
  </form>
  <div class='buttons'>
    <button><a href='/api/users/profile/'>Back</a></button>
    <button><a href='/api/users/logout/'>Logout</a></button>
  </div>
</div>
<script src='/js/upload.js'></script>